/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}


@each $btn, $color in $btn-color {
    .#{$btn} {
        background-color: $color;
        &:hover {
            background-color: lighten($color: $color, $amount: 15);
        }
    }
}
