/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include img-display;
    max-height: 100%;
}

.img-frame {
    @include img-display;
    padding: 13px;
    border: 1px solid $img-border-color;
}

.img-logo {
    @include img-logo;
}